<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.sillyapps.alarm_alert">

  <uses-permission android:name="android.permission.VIBRATE"/>

  <application>
    <activity android:name=".ui.AlarmAlertActivity"
      android:launchMode="singleInstance"
      android:showOnLockScreen="true"
      android:showWhenLocked="true"
      android:turnScreenOn="true"
      android:excludeFromRecents="true"
      android:exported="true">

      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
      </intent-filter>

    </activity>

    <receiver android:name=".RingerReceiver"/>
  </application>

</manifest>